[submodule "Dependencies/ELFIO"]
	path = Dependencies/ELFIO
	url = https://github.com/serge1/ELFIO.git
[submodule "Dependencies/xbyak"]
	path = Dependencies/xbyak
	url = https://github.com/herumi/xbyak.git
[submodule "Dependencies/zydis"]
	path = Dependencies/zydis
	url = https://github.com/zyantific/zydis.git
[submodule "Dependencies/SDL"]
	path = Dependencies/SDL
	url = https://github.com/ChonkyStation3/SDL.git
[submodule "Dependencies/glslang"]
	path = Dependencies/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "Dependencies/pthread-win32"]
	path = Dependencies/pthread-win32
	url = https://github.com/GerHobbelt/pthread-win32.git
